{% extends 'layout.html' %}

{% block pageTitle %}
  Start - Citizen survey tool prototype - Version 1
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Tell the NHS about your coronavirus symptoms
      </h1>

      <p>This survey will help the NHS understand more about how coronavirus (COVID-19) affects people and which parts of the country need resources most.</p>

      <p>By answering some quick questions you can help the NHS plan and manage coronavirus.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>We will not share the answers you give us beyond the NHS.</p>
      </div>

      <a class="nhsuk-button" href="/latest/you-or-someone-else">
        Start now
      </a>

    </div>
  </div>
{% endblock %}
