{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
   Why staying home - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
  {{ backLink({
    "href": "/latest/you-or-someone-else",
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/latest/current-symptoms" method="post" class="form">

      {% set pronoun = 'you' if (data['myself'] === 'For myself') else 'they' %}
      {% set legendText = 'Why are ' + pronoun + ' staying at home?' %}

      {{ checkboxes({
        "idPrefix": "staying-home",
        "name": "staying-home",
        "fieldset": {
          "legend": {
            "text": legendText,
            "classes": "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        "hint": {
          "text": "Select all that apply"
        },
        "items": [
          {
            "value": "I have tested positive for coronavirus",
            "text": "I have tested positive for coronavirus"
          },
          {
            "value": "My GP or another healthcare professional has told me I have coronavirus based on my symptoms",
            "text": "My GP or another healthcare professional has told me I have coronavirus based on my symptoms"
          },
          {
            "value": "I’ve used the 111 coronavirus service (either online or by calling 111)",
            "text": "I’ve used the 111 coronavirus service (either online or by calling 111)"
          },
          {
            "value": "I have coronavirus symptoms",
            "text": "I have coronavirus symptoms"
          },
          {
            "value": "Someone I live with has coronavirus",
            "text": "Someone I live with has coronavirus"
          },
          {
            "value": "I do not have any coronavirus symptoms myself. I am staying at home on government advice",
            "text": "I do not have any coronavirus symptoms myself. I am staying at home on government advice"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
