{% extends 'layout.html' %}

{% block pageTitle %}
  Sorry, there is a problem with the service - Citizen survey tool prototype
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Sorry, there is a problem with the service
      </h1>

      <p>Try again later.</p>
      <p>
        We have not saved your answers. When the service is available, you will have to start again.
      </p>
      <p>
        Contact (who?) if you have any questions.
      </p>
      <p>
        Telephone:<br>
        <strong class="nhsuk-u-font-weight-bold">0808 157 3900</strong>
      </p>
      <p>
        Textphone:<br>
        <strong class="nhsuk-u-font-weight-bold">0808 157 3909</strong>
      </p>
      <p>
        Opening times:<br>
        <strong class="nhsuk-u-font-weight-bold">Monday to Friday: 8am to 8pm</strong>
      </p>

    </div>
  </div>
{% endblock %}
