{% extends 'layout.html' %}

{% block pageTitle %}
  Sorry, the service is unavailable - Citizen survey tool prototype
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Sorry, the service is unavailable</h1>
      <p>
        You will be able to use the service from (planned date of shutter lift example, 9am on Monday 19 November 2018). 
      </p>
      <p>
        Contact (who?) if you have any questions.
      </p>
      <p>
        Telephone:<br>
        <strong class="nhsuk-u-font-weight-bold">0808 157 3900</strong>
      </p>
      <p>
        Textphone:<br>
        <strong class="nhsuk-u-font-weight-bold">0808 157 3909</strong>
      </p>
      <p>
        Opening times:<br>
        <strong class="nhsuk-u-font-weight-bold">Monday to Friday: 8am to 8pm</strong>
      </p>

    </div>
  </div>
{% endblock %}
