{% extends 'layout.html' %}

{% block pageTitle %}
   Check answers - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Check your answers</h1>

      <h2 class="nhsuk-heading-m">Your experience</h2>

      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-7">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Completing survey for
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['myself-return'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/latest/return-with-data/you-or-someone-else">
              Change<span class="nhsuk-u-visually-hidden">Completing survey for</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Reason for staying at home
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul class="nhsuk-list">
              {% for item in data['staying-home-return'] | toArray %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/latest/return-with-data/reason-at-home">
              Change <span class="nhsuk-u-visually-hidden">Reason for staying at home</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                How are you feeling?
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul class="nhsuk-list">
              {% for item in data['symptoms-return'] | toArray %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/latest/return-with-data/how-are-you-feeling">
                Change <span class="nhsuk-u-visually-hidden">Current symptoms</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              When did this start?
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['date-started-return'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/latest/return-with-data/when-did-this-start">
              Change <span class="nhsuk-u-visually-hidden">Date symptoms started</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Health problems
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul class="nhsuk-list">
              {% for item in data['conditions'] | toArray %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/latest/return-with-data/health-problems">
              Change <span class="nhsuk-u-visually-hidden">Health conditions</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="nhsuk-heading-m">Personal details</h2>

      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-7">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/latest/return-with-data/date-of-birth">
              Change <span class="nhsuk-u-visually-hidden">Date of birth</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Postcode
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['postcode'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/latest/return-with-data/postcode">
                Change <span class="nhsuk-u-visually-hidden">Postcode</span>
              </a>
            </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Number of people who live in your home
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['household'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="/latest/return-with-data/number-people-live-with">
                Change <span class="nhsuk-u-visually-hidden">Number of people who live in your home</span>
              </a>
            </dd>
        </div>
      </dl>

      <a class="nhsuk-button" href="/latest/return-with-data/skip-questions">
       Send
      </a>

    </div>
  </div>
{% endblock %}
