{% extends 'layout.html' %}

{% block pageTitle %}
   Confirmation - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Thank you for sharing this information</h1>

      <p class="nhsuk-lede-text">Your answers will help the NHS plan and manage coronavirus.</p>

      <h2>What you can do next</h2>
      <ul>
        <li>Stay up-to-date with the latest <a href="https://www.gov.uk/coronavirus">Government advice</a>.</li>
        <li>Get the latest <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" target="_blank" rel="noopener noreferrer">NHS information on coronavirus</a>, including advice on staying at home.</li>
        <li>Sign up for the <a href="#">111 coronavirus text messaging service</a>.</li>
      </ul>
      <div class="nhsuk-inset-text nhsuk-inset-text--attention">
        <span class="nhsuk-u-visually-hidden">Important information: </span>
        <h3>If you get symptoms of coronavirus, or if your symptoms get worse, get advice from:</h3>
        <ul>
          <li>England: <a href="https://111.nhs.uk/covid-19" target="_blank" rel="noopener noreferrer">NHS 111 online coronavirus service</a></li>
          <li>Scotland: <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19" target="_blank" rel="noopener noreferrer">NHS inform</a></li>
          <li>Wales: <a href="https://www.nhsdirect.wales.nhs.uk/" target="_blank" rel="noopener noreferrer">NHS Direct Wales</a></li>
          <li>Northern Ireland: Call 111</li>
        </ul>       
      </div>

      <p class="nhsuk-u-margin-top-9"><a href="/latest/return-with-data">Return visit - Yes to skip questions (with data)</a></p>
      <p><a href="/latest/return-without-data">Return visit - Yes to skips questions (without data)</a></p>
      <p><a href="/latest">Return visit - No to skip questions</a></p>

    </div>
  </div>
{% endblock %}
