{% extends 'layout.html' %}

{% set PROTOTYPEURL = "branching" %}
{% set heading = "Tell the NHS about your current experience of coronavirus" %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>This survey will help the NHS understand more about how and where coronavirus (COVID-19) is affecting people now.</p>

      <p>By answering some quick questions, you can help the NHS plan its response to coronavirus.</p>

      <p>The NHS especially wants to hear from you if you have symptoms, no matter how mild. But it also helps if you let us know if you’re feeling OK.</p>

      <p>You can fill in this survey for yourself or for someone else, like a child or an elderly relative. If the person is aged 13 and over, check that they are happy for you to complete the survey for them.</p>

      <div class="nhsuk-inset-text nhsuk-inset-text--attention">
        <span class="nhsuk-u-visually-hidden">Important information: </span>
        <h2 class="nhsuk-heading-m">If you need medical advice about your coronavirus symptoms, contact:</h2>
        <ul>
          <li>England: <a href="https://111.nhs.uk/covid-19" target="_blank" rel="noopener noreferrer">NHS 111 online coronavirus service</a></li>
          <li>Scotland: <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19" target="_blank" rel="noopener noreferrer">NHS inform</a></li>
          <li>Wales: <a href="https://www.nhsdirect.wales.nhs.uk/" target="_blank" rel="noopener noreferrer">NHS Direct Wales</a></li>
          <li>Northern Ireland: <a href="https://www.publichealth.hscni.net/news/covid-19-coronavirus" target="_blank" rel="noopener noreferrer">Public Health Agency</a></li>
        </ul>
      </div>

      <p>We will not share the answers you give us beyond the NHS and trusted organisations working directly with the NHS in response to coronavirus.</p>

      <a class="nhsuk-button nhsuk-u-margin-top-4" href="/{{ PROTOTYPEURL }}/reason-at-home">
        Start now
      </a>

    </div>
  </div>
{% endblock %}
