{% extends 'layout-colour.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
   Symptoms - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
  {{ backLink({
    "href": "/colour/how-are-you-feeling",
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/colour/health-problems" method="post" class="form">

      {{ radios({
        "idPrefix": "myself",
        "name": "myself",
        "fieldset": {
          "legend": {
            "text": "When did you start feeling like this?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "If you are not sure when you started feeling like this, select an approximate time"
        },
        "items": [
          {
            "value": "Today",
            "text": "Today",
            "name": "Today"
          },
          {
            "value": "Yesterday",
            "text": "Yesterday",
            "name": "Yesterday"
          },
          {
            "value": "2 to 4 days ago",
            "text": "2 to 4 days ago",
            "name": "2 to 4 days ago"
          },
          {
            "value": "5 to 7 days ago",
            "text": "5 to 7 days ago",
            "name": "5 to 7 days ago"
          },
          {
            "value": "Over a week ago",
            "text": "Over a week ago",
            "name": "Over a week ago"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
