// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.nhsuk-back-link {
  @include nhsuk-responsive-margin(4, "top");
  margin-bottom: 0;
}

.nhsuk-header--corona {
  background-color: #000;
  border-top: 10px solid #7eff8e;

  .nhsuk-header__logo {
    .nhsuk-logo__background {
      fill: #005eb8;
    }

    .nhsuk-logo__text {
        fill: #ffffff;
    }
  }

  .nhsuk-header__transactional-service-name--link {
    &:focus {
      box-shadow: none;
    }
  }

}
