{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
   Postcode - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
  {{ backLink({
    "href": "/return-v1/return-with-data/date-of-birth",
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/return-v1/return-with-data/number-people-live-with" method="post" class="form">

        {{ input({
          "label": {
            "text": "What is your postcode?",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "id": "postcode",
          "name": "postcode",
          "classes": "nhsuk-input--width-10",
          "value": data['postcode']
        }) }}

        {{ details({
          "text": "Why we are asking this question",
          "HTML": "
          <p>We will not use this information to identify you.</p>
          <p>We need your postcode to help us understand which areas of the country are most affected by coronavirus.</p>
          <p>We may also combine our data with data from other organisations. This information will help us recognise your data if you complete other NHS surveys.</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
