{% extends 'layout.html' %}

{% set PROTOTYPEURL = "sex-and-ethnicity" %}
{% set backLink = "date-of-birth" %}
{% set heading = "What is your sex?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/ethnic-group" method="post" class="form">

      {{ radios({
        "idPrefix": "sex",
        "name": "sex",
        "fieldset": {
          "legend": {
            "text": heading,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "Select your sex at birth"
        },
        "items": [
          {
            "value": "Female",
            "text": "Female",
            "name": "Female",
            "checked": checked("sex", "Female")
          },
          {
            "value": "Male",
            "text": "Male",
            "name": "Male",
            "checked": checked("sex", "Male")
          },
          {
            "divider": "or"
          },
          {
            "value": "Prefer not to say",
            "text": "Prefer not to say",
            "name": "Prefer not to say",
            "checked": checked("sex", "Prefer not to say")
          }
        ]
      }) }}

      {{ details({
          "text": "Why we are asking this question",
          "HTML": "
          <p>We will not use this information to identify you.</p>
          <p>We are asking about sex at birth as we need to understand the role of genes and biology and how and why coronavirus affects men and women differently.</p>
          <p>If you identify as non-binary, transgender, or have differences in sex development (intersex), select your sex assigned at birth or &quot;prefer not to say&quot;.</p>
          "
        }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
