{% extends 'layout.html' %}

{% set PROTOTYPEURL = "sex-and-ethnicity" %}
{% set backLink = "date-of-birth" %}
{% set heading = "What is your sex?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/ethnic-group" method="post" class="form">

      {{ radios({
        "idPrefix": "sex",
        "name": "sex",
        "fieldset": {
          "legend": {
            "text": heading,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "Select your sex"
        },
        "items": [
          {
            "value": "Female",
            "text": "Female",
            "name": "Female",
            "checked": checked("sex", "Female")
          },
          {
            "value": "Male",
            "text": "Male",
            "name": "Male",
            "checked": checked("sex", "Male")
          },
          {
            "divider": "or"
          },
          {
            "value": "Prefer not to say",
            "text": "Prefer not to say",
            "name": "Prefer not to say",
            "checked": checked("sex", "Prefer not to say")
          }
        ]
      }) }}

      {{ details({
          "text": "Why we are asking this question",
          "HTML": "
          <p>We will not use this information to identify you.</p>
          <p>We are asking about sex because we need to understand the role of genes and biology and how and why coronavirus affects men and women differently. We combine the data we collect with hospital data which only breaks down sex into male or female.</p>
          "
        }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
