{% extends 'layout.html' %}

{% block pageTitle %}
   Confirmation - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Thank you for sharing this information</h1>

      <h2>What you need to do next</h2>
      <p>Stay up-to-date with the latest <a href="https://www.gov.uk/government/publications/covid-19-guidance-on-social-distancing-and-for-vulnerable-people/guidance-on-social-distancing-for-everyone-in-the-uk-and-protecting-older-people-and-vulnerable-adults">Government advice</a>.</p>
      <p>Get the latest <a href="https://www.nhs.uk/health-conditions/coronavirus-covid-19/" target="_blank" rel="noopener noreferrer">NHS information on coronavirus</a>, including advice on staying at home.</p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <h3>If you get symptoms of coronavirus, or if your symptoms get worse, get advice from:</h3>
        <ul>
          <li>England: <a href="https://111.nhs.uk/covid-19" target="_blank" rel="noopener noreferrer">NHS 111 online coronavirus service</a></li>
          <li>Scotland: <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19" target="_blank" rel="noopener noreferrer">NHS inform</a></li>
          <li>Wales: <a href="https://www.nhsdirect.wales.nhs.uk/" target="_blank" rel="noopener noreferrer">NHS Direct Wales</a></li>
          <li>Northern Ireland: Call 111</li>
        </ul>       
      </div>

    </div>
  </div>
{% endblock %}
