{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
   Why staying home - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
  {{ backLink({
    "href": "/v1/myself",
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/v1/symptoms" method="post" class="form">

      {{ checkboxes({
        "idPrefix": "staying-home",
        "name": "staying-home",
        "fieldset": {
          "legend": {
            "text": "Why are you staying at home?",
            "classes": "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        "hint": {
          "text": "Select all that apply"
        },
        "items": [
          {
            "value": "I have been tested positive for coronavirus",
            "text": "I have been tested positive for coronavirus"
          },
          {
            "value": "My GP or another healthcare professional has told me I have coronavirus based on my symptoms",
            "text": "My GP or another healthcare professional has told me I have coronavirus based on my symptoms"
          },
          {
            "value": "I’ve used the 111 coronavirus service (either online or by calling 111)",
            "text": "I’ve used the 111 coronavirus service (either online or by calling 111)"
          },
          {
            "value": "I have coronavirus symptoms",
            "text": "I have coronavirus symptoms"
          },
          {
            "value": "A family member or person I live with has coronavirus",
            "text": "A family member or person I live with has coronavirus"
          },
          {
            "value": "I do not have any coronavirus symptoms myself but I am staying at home",
            "text": "I do not have any coronavirus symptoms myself but I am staying at home"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
