{% extends 'layout.html' %}

{% block pageTitle %}
  Citizen survey tool prototype
{% endblock %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Coronavirus status checker prototype</h1>

      <h2>Versions</h2>

      <ul>
        <li><a href="/latest">Latest</a> - Signed off on 09/4/20</li>
        <li><a href="/testing">In testing</a> - Awaiting sign off</li>
      </ul>

      <h3 class="nhsuk-heading-s">Archived</h3>
      <ul>
        <li><a href="/v2">Version 2</a> - Signed off on 29/3/20</li>
        <li><a href="/v1">Version 1</a></li>
        <li><a href="/colour">Colour change</a></li>
        <li><a href="/return-v1">Return journey version 1</a></li>
        <li><a href="/return-v2">Return journey version 2</a></li>
      </ul>

      <hr>

      <h2>Errors</h2>

      <ul>
        <li><a href="/validation-errors">Validation errors</a></li>
        <li><a href="/error">Error pages</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
