<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Citizen survey tool prototype
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Coronavirus status checker prototype
      </h1>

      <h2>Versions</h2>

      <h3 class="nhsuk-heading-s">In testing:</h3>
      <p><a href="/latest">Return journey v1</a></p>

      <h3 class="nhsuk-heading-s">Latest version - signed off:</h3>
      <p><a href="/v2">Version 2</a> <span class="nhsuk-u-secondary-text-color">- 29/3/20</span></p>

      <h3 class="nhsuk-heading-s">Older versions:</h3>
      <ul>
        <li><a href="/v1">Version 1</a></li>
        <li><a href="/colour">Colour change</a></li>
      </ul>

      <h2>Errors</h2>

      <ul>
        <li><a href="/validation-errors">Validation errors</a></li>
        <li><a href="/error">Error pages</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
