{% extends 'layout.html' %}

{% block pageTitle %}
  Start - Citizen survey tool prototype - Version 1
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Tell the NHS about your experience of coronavirus
      </h1>

      <p>This survey will help the NHS understand more about how and where coronavirus (COVID-19) is affecting people.</p>

      <p>By answering some quick questions, you can help the NHS prepare and respond to coronavirus.</p>

      <div class="nhsuk-inset-text nhsuk-inset-text--attention">
        <span class="nhsuk-u-visually-hidden">Important information: </span>
        <h2 class="nhsuk-heading-m">If you need medical advice about your coronavirus symptoms, contact:</h2>
        <ul>
          <li>England: <a href="https://111.nhs.uk/covid-19" target="_blank" rel="noopener noreferrer">NHS 111 online coronavirus service</a></li>
          <li>Scotland: <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19" target="_blank" rel="noopener noreferrer">NHS inform</a></li>
          <li>Wales: <a href="https://www.nhsdirect.wales.nhs.uk/" target="_blank" rel="noopener noreferrer">NHS Direct Wales</a></li>
          <li>Northern Ireland: Call 111</li>
        </ul>
      </div>

      <p>We will not share the answers you give us beyond the NHS and trusted organisations working directly with the NHS in response to coronavirus (COVID-19).</p>

      <a class="nhsuk-button nhsuk-u-margin-top-4" href="/return-v1/return-without-data/you-or-someone-else">
        Start now
      </a>

    </div>
  </div>
{% endblock %}
