{% extends 'layout.html' %}

{% set PROTOTYPEURL = "testing" %}
{% set backLink = "" %}
{% set heading = "What sex were you assigned at birth?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/postcode" method="post" class="form">

      {{ radios({
        "idPrefix": "sex",
        "name": "sex",
        "fieldset": {
          "legend": {
            "text": heading,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "Female",
            "text": "Female",
            "name": "Female",
            "checked": checked("sex", "Female")
          },
          {
            "value": "Male",
            "text": "Male",
            "name": "Male",
            "checked": checked("sex", "Male")
          }
        ]
      }) }}

      {{ details({
          "text": "Why aren’t there more options?",
          "HTML": "
          <p>Some clinical assessments can be different depending on your sex. Not everyone sees themselves as female or male, so if neither option is right for you call 111.</p>
          <p>We want to improve the service in the future so it works for everyone.</p>
          "
        }) }}

      {{ details({
          "text": "Why we are asking this question",
          "HTML": "
          <p>We will not use this information to identify you.</p>
          <p>We need your assigned sex at birth to...</p>
          "
        }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
