{% extends 'layout.html' %}

{% set PROTOTYPEURL = "testing" %}
{% set backLink = "your-sex" %}
{% set heading = "What is your ethnic group?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/postcode" method="post" class="form">

      {{ radios({
        idPrefix: "ethnic-group",
        name: "ethnic-group",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: true,
            classes: "nhsuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Asian or Asian British",
            text: "Asian or Asian British",
            checked: checked("ethnic-group", "Asian or Asian British"),
            label: {
              classes: 'nhsuk-label--s'
            },
            hint: {
              text: 'Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani or other South or East Asian'
            }
          },
          {
            value: "Black, African, Black British or Caribbean",
            text: "Black, African, Black British or Caribbean",
            checked: checked("ethnic-group", "Black, African, Black British or Caribbean"),
            label: {
              classes: 'nhsuk-label--s'
            },
            hint: {
              text: 'Includes any Black background'
            }
          },
          {
            value: "Mixed or multiple ethnic groups",
            text: "Mixed or multiple ethnic groups",
            checked: checked("ethnic-group", "Mixed or multiple ethnic groups"),
            label: {
              classes: 'nhsuk-label--s'
            },
            hint: {
              text: 'Includes any Mixed background'
            }
          },
          {
            value: "White",
            text: "White",
            checked: checked("ethnic-group", "White"),
            label: {
              classes: 'nhsuk-label--s'
            },
            hint: {
              text: 'Includes any White background'
            }
          },
          {
            value: "Another ethnic group",
            text: "Another ethnic group",
            checked: checked("ethnic-group", "Another ethnic group"),
            label: {
              classes: 'nhsuk-label--s'
            },
            hint: {
              text: 'Includes any other ethnic group, for example, Middle Eastern'
            }
          },
          {
            divider: "or"
          },
          {
            value: "Prefer not to say",
            text: "Prefer not to say",
            checked: checked("ethnic-group", "Prefer not to say"),
            label: {
              classes: 'nhsuk-label'
            }
          }
        ]
      }) }}

      {{ details({
          "text": "Why we are asking this question",
          "HTML": "
          <p>We will not use this information to identify you.</p>
          <p>We need this information to understand how coronavirus affects people of different ethnic backgrounds.</p>
          "
        }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
