{% extends 'layout.html' %}

{% set PROTOTYPEURL = "testing" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
   Number of people - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
  {{ backLink({
    "href": "/latest/postcode",
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/check-your-answers" method="post" class="form">

        {{ input({
          "label": {
            "text": "How many people live in your home, including you?",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
            "hint": {
            "text": "If you live alone, enter 1"
          },
          "id": "household",
          "name": "household",
          "classes": "nhsuk-input--width-3",
          "value": data['household']
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
