{% extends 'layout.html' %}

{% set PROTOTYPEURL = "testing" %}
{% set backLink = "you-or-someone-else" %}
{% set heading = "What is your current situation?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/how-are-you-feeling" method="post" class="form">

      {{ checkboxes({
        "idPrefix": "staying-home",
        "name": "staying-home",
        "fieldset": {
          "legend": {
            "text": heading,
            "classes": "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        "hint": {
          "text": "Select all that apply"
        },
        "items": [
          {
            "value": "I’ve used the 111 coronavirus service (online or by calling 111)",
            "text": "I’ve used the 111 coronavirus service (online or by calling 111)",
            "checked": checked("staying-home", "I’ve used the 111 coronavirus service (online or by calling 111)")
          },
          {
            "value": "I think I have coronavirus symptoms",
            "text": "I think I have coronavirus symptoms",
            "checked": checked("staying-home", "I think I have coronavirus symptoms")
          },
          {
            "value": "I think someone I live with has coronavirus",
            "text": "I think someone I live with has coronavirus",
            "checked": checked("staying-home", "I think someone I live with has coronavirus")
          },
          {
            "value": "I had a test that showed I have coronavirus",
            "text": "I had a test that showed I have coronavirus",
            "checked": checked("staying-home", "I had a test that showed I have coronavirus")
          },
          {
            "value": "My GP or another healthcare professional has told me I have coronavirus",
            "text": "My GP or another healthcare professional has told me I have coronavirus",
            "checked": checked("staying-home", "My GP or another healthcare professional has told me I have coronavirus")
          },
          {
            "value": "I am at high risk of complications from coronavirus, and am staying at home to reduce the chance of getting it",
            "text": "I am at high risk of complications from coronavirus, and am staying at home to reduce the chance of getting it",
            "checked": checked("staying-home", "I am at high risk of complications from coronavirus, and am staying at home to reduce the chance of getting it")
          },
          {
            "value": "I do not think I have coronavirus symptoms. I am staying at home on government advice",
            "text": "I do not think I have coronavirus symptoms. I am staying at home on government advice",
            "checked": checked("staying-home", "I do not think I have coronavirus symptoms. I am staying at home on government advice")
          },
          {
            "value": "I do not think I have coronavirus symptoms. I am one of the people who must travel to my place of work",
            "text": "I do not think I have coronavirus symptoms. I am one of the people who must travel to my place of work",
            "checked": checked("staying-home", "I do not think I have coronavirus symptoms. I am one of the people who must travel to my place of work")
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
