{% extends 'layout.html' %}

{% set PROTOTYPEURL = "testing" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
   Symptoms - Citizen survey tool prototype - Version 1
{% endblock %}

{% block beforeMain %}
  {{ backLink({
    "href": "/testing/how-are-you-feeling",
    "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/health-problems" method="post" class="form">

      {{ radios({
        "idPrefix": "date-started",
        "name": "date-started",
        "fieldset": {
          "legend": {
            "text": "When did you start feeling like this?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "If you are not sure when you started feeling like this, select an approximate time"
        },
        "items": [
          {
            "value": "Today",
            "text": "Today",
            "name": "Today",
            "checked": checked("date-started", "Today")
          },
          {
            "value": "Yesterday",
            "text": "Yesterday",
            "name": "Yesterday",
            "checked": checked("date-started", "Yesterday")
          },
          {
            "value": "2 to 4 days ago",
            "text": "2 to 4 days ago",
            "name": "2 to 4 days ago",
            "checked": checked("date-started", "2 to 4 days ago")
          },
          {
            "value": "5 to 7 days ago",
            "text": "5 to 7 days ago",
            "name": "5 to 7 days ago",
            "checked": checked("date-started", "5 to 7 days ago")
          },
          {
            "value": "Over a week ago",
            "text": "Over a week ago",
            "name": "Over a week ago",
            "checked": checked("date-started", "Over a week ago")
          },
          {
            "value": "I'm not sure",
            "text": "I'm not sure",
            "name": "I'm not sure",
            "checked": checked("date-started", "I'm not sure")
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
