{% extends 'layout.html' %}

{% set PROTOTYPEURL = "testing" %}
{% set backLink = "index" %}
{% set heading = "Are you completing this survey for yourself or someone else?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/reason-at-home" method="post" class="form">

      {{ radios({
        "idPrefix": "myself",
        "name": "myself",
        "fieldset": {
          "legend": {
            "text": heading,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "You can complete this survey for yourself or for someone else if you have their permission"
        },
        "items": [
          {
            "value": "For myself",
            "text": "For myself",
            "name": "For myself",
            "checked": checked("myself", "For myself")
          },
          {
            "value": "For someone else",
            "text": "For someone else",
            "name": "For someone else",
            "checked": checked("myself", "For someone else")
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
